* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(238, 242, 246);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/*MAIN MENU BAR*/
#main-menu {
  background-color: rgb(55, 64, 80);
  height: 196vh;
  position: absolute;
  top: 0px;
  width: 13%;
}

.menu-headings {
  color: rgb(103, 116, 139);
  font-size: 12px;
}

#avatar-div {
  display: flex;
}

#nvidia-avatar-image {
  border-radius: 50%;
  height: 10vh;
  left: 10%;
  margin: 17% auto 10%;
  width: 10vh;
}

#nvidia-avatar-article {
  height: 140px;
  margin: 5% auto 5%;
}

#nvidia-avatar-title {
  color: rgb(144, 153, 169);
  font-size: 14px;
  text-align: center;
}

#nvidia-avatar-title:hover {
  color: rgb(70, 165, 242);
}

.nvidia-dropdown-button {
  background: transparent;
  border: none;
  color: rgb(144, 153, 169);
  left: 65%;
  position: absolute;
}

.fa-chevron-down {
  margin-top: -7%;
  margin-left: 2px;
}

#top-hr {
  margin: 10% 0px;
}

hr {
  margin-bottom: 14%;
}
.main-menu-articles {
  height: 187px;
  margin-left: 8%; 
}

li svg {
  margin-right: 4%;
}

.company-departments {
  border: 2px solid transparent;
  color: rgb(144, 153, 169);
  font-size: 13px;
  font-weight: bold;
  margin-top: 7%;
}

.company-departments:hover {
  background-color: rgb(49, 57, 72);
  border-left-color: rgb(70, 165, 242);
  color: white;
  margin-left: -8%;
  padding-left: 10%;
}

.platform-titles {
  border: 2px solid transparent;
  color: rgb(144, 153, 169);
  font-size: 13px;
  font-weight: bold;
  margin-top: 7%;
}

.platform-titles:hover {
  background-color: rgb(49, 57, 72);
  border-left-color: rgb(70, 165, 242);
  color: white;
  margin-left: -8%;
  padding-left: 10%;
}

#highlited-title {
  border-left-color: rgb(70, 165, 242);
  color: white;
  margin-left: -8%;
  padding-left: 10%;
}

.self-driving-techs {
  border: 2px solid transparent;
  color: rgb(144, 153, 169);
  font-size: 13px;
  font-weight: bold;
  margin-top: 7%;
}

.self-driving-techs:hover {
  background-color: rgb(49, 57, 72);
  border-left-color: rgb(70, 165, 242);
  color: white;
  margin-left: -8%;
  padding-left: 8%;
}

/*Top-Search-Section*/
#header {
  background-color: white;
  height: 28vh;
  margin-left: 13%;
  width: 87vw;
}

#collapse-menu-hamburger {
  height: 11vh;
  width: 11vh;
}

#top-search-input-buttons {
  display: flex;
  height: 11vh;
  width: 87vw;
}

button:hover {
  background-color: rgb(70, 165, 242);
}

 #search-bar {
    background-image: url(images/magnifier-tool.svg);
    background-position-x: 3%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1.5em;
    font-size: 16px;
    height: 11vh;
    margin-left: 0px;
    padding-left: 6%;
    width: 89%;
}

.top-right-three-buttons {
  height: 11vh;
  width: 11vh;
}

#user-button {
  background-color: rgb(70, 165, 242);
}

#page-title {
  font-size: 16px;
  margin: 2% 2% 1% 5%;
}

#arrow-to-San-Fransisco {
  display: inline-block;
  margin-left: 5%;
  vertical-align: -.25em;
}

#location {
  display: inline-block;
  font-size: 10px;
}

#review {
  color: #rgb(70, 165, 242);
}

#four-buttons {
  border: none;
  float: right;
  margin-right: 2.5%;
  margin-top: -2%;
  padding-left: 4%;
  width: 21%;
}

#open-button {
  border-radius: 64px;
  border: 2px solid rgb(232, 232, 234);
  font-size: 14px;
  padding: 3%;
  width: 44%;
}

#green-dot {
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin-left: 4px;
  margin-right: 4px;
  width: 8px;
}

.pin-edit-trash-button {
  border-radius: 50%;
  height: 10%;
  margin-left: 4%;
  padding: 4% 7% 4% 3%;
  width: 10%;
}

#web-page-nav-list {
  margin-top: 3vh;
}

#nav-list {
  display: flex;
  justify-content: space-between;
  margin-left: 5vw;
  width: 65vw;
}

.nav-list-li {
  font-weight: bolder
}

#nav-list-performance-li {
  border-bottom: 2px solid rgb(70, 165, 242);
  color: rgb(70, 165, 242);
  font-weight: bolder;
  padding-bottom: 1%;
}

.nav-list-li:hover {
  border-bottom: 2px solid rgb(70, 165, 242);
  color: rgb(70, 165, 242);
  font-weight: bolder;
  padding-bottom: .25%;
}

/*Big-Right-Section*/
#large-right-content-section {
  background-color: rgb(238, 242, 246);
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  margin-left: 13%;
  width: 87vw;
}

/*CIRCLE GRAPHS*/
#circle-graph-section {
  background-color: rgb(238, 242, 246); 
  height:32vh;
  width: 60%;
}

#circle-graph-form {
  display: flex;
  height: 100%;
  margin-left: 6%;
  margin-top: 5%;
}

.chart-number {
  font-size: 10px;
}

.chart-text {
  font-size: 4px;
}

#bar-graph {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  width: 40%;
}

#bar-graph-form {
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 4%;
}

#bar-graph-image {
  height: 70%;
  margin-left: 0%;
  margin-top: 5px;
  width: 90%;
}

#totals-stock-btn-form {
  margin: -5% auto 0%;
  width: 100vw;
}

#totals-btn {
  border-radius: 15px;
  border: 2px solid rgb(232, 232, 234);
  color: rgb(139, 147, 160);
  font-size: 14px;
  font-weight: bolder;
  margin: 5% 5% 6% 20%;
  padding: 4px;
  width: 25%;
}

#stock-performance-btn {
  border-radius: 34px;
  border: 2px solid rgb(232, 232, 234);
  color: rgb(139, 147, 160);
  font-size: 14px;
  font-weight: bolder;
  margin: 5% 5% 0% 22%;
  padding: 4px;
  width: 20%;
}

#users-button {
  background-color: rgb(70, 165, 242);
  border-radius: 13px;
  border: 2px solid rgb(232, 232, 234);
  color: gray;
  margin: 1% 36%;
  padding: .8%;
  width: 24%;
}

#hr-button-div {
  margin-top: 0%;
  width: 100%;
}

#left-main-hr {
  color: rgb(113, 126, 147);
  display: inline-block;
  margin-left: 4%;
  margin: 0%;
  width: 45.5%;
}

.button-between-hrs {
  border-radius: 46%;
  display: inline-block;
  margin: 0%;
  padding: 1px 4px;
}

#right-main-hr {
  color: rgb(113, 126, 147);
  display: inline-block;
  margin: 0%;
  width: 45%;
}

/*JOB SECTION*/
#job-description-section {
  background-color: rgb(239, 242, 246);
  height:115.5vh;
  width: 54vw;
}

#nvidia-ceo {
  border-radius: 50%;
  height: 10%;
}

#job-description-table {
  background: white;
  margin-left: 6%;
  margin-top: 5%;
  width: 95%;
}

#job-description-header {
  background-color: rgb(113, 126, 147);
}

th {
  border-bottom-color: rgb(239, 242, 245);
  border: 2px solid transparent;
  padding-left: 16px;
  padding-right: 5%;
  text-align: left;
}

tr {
  border: 1px solid gray;
  color: rgb(113, 126, 147);
  height: 75px;
}

#description {
  height: 134px;
  line-height: 2.5;
}

#position-title {
  color: white;
}

#edit-position-btn {
  border-radius: 2px;
  color: rgb(125, 139, 164);
  padding: 2% 3%;
  width: 79px;
}

#edit-position-btn:hover {
  color: white;
}

.bottom-bordered {
  border-bottom: 1px solid #325;
}

/*SOCIAL MEDIA ASIDE */

#social-media-section {
  background-color: rgb(238, 242, 246);
  display: flex;
  height: 114vh;
  justify-content: center;
  margin-top: 1%;
  width: 33vw;
}

#three-social-media-buttons-form {
  margin-top: 5%;
  width: 61.5%;
}

.social-media-buttons {
  color: white;
  font-size: 17px;
  font-weight: 400;
  height: 5%;
  margin-bottom: 11%;
  padding-top: 5%;
  text-align: center;
  width: 118%;
}

.social-media-post {
  display: inline;
  font-size: 14px;
  padding: 18%;
}

#fb-btn {
  background-color: rgb(80, 114, 188);
  border-radius: 3px;
}

#twitter-btn {
  background-color: rgb(69, 168, 233);
  border-radius: 3px;
}

#linked-in-btn {
  background-color: rgb(51, 128, 183);
  border-radius: 3px;
}

.bottom-links-article{
  width: 120%;
} 

.bottom-links-h2 {
  color: rgb(104, 115, 130);
  margin-bottom: 6%;
  margin-top: 10%;
}

.bottom-links-p {
  color: rgb(104, 115, 130);
  margin-bottom: 10%;
  width: 100%;
}

.bottom-links-input {
  font-size: 12px;
  margin-right: -2%;
  padding: 10px;
  width: 77%;
}

.bottom-links-btn {
  background-color: rgb(102, 184, 191);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  display: inline-block;
  height: 38px;
  width: 22%;
}

.bottom-links-hr {
  margin-bottom: 10%;
  margin-top: 10%;
}

#bottom-links-email-input {
  font-size: 12px;
  padding: 10px;
  width: 101%;
}

/*/*MEDIA QUERIES*/

@media screen and (max-width: 1110px) {
  #main-menu {
    height: 196vh;
  }
  #circle-graph-form {
    margin-left: -1%;
  }
  #bar-graph-image {
    height: 63%;
    margin-left: -14%;
    margin-top: 5%;
    width: 80%;
  }

  #bar-graph-image {
  height: 70%;
  margin-top: 5%;
  width: 80%;
  }

  #totals-btn {
    margin: 5% 12% 6% 15%;
    width: 30%;
  }

  #stock-performance-btn {
    margin-left: 11%;
    width: 20%;
  }

  #four-buttons {
    margin-right: 19.5%;
    margin-top: -4%;
    width: 26%;
  }

  #main-menu {
    width: 17%
  }

  #large-right-content-section {
    margin-left: 17%;
  }

  #header {
    margin-left: 17%;
  }

  #four-buttons {
    margin-right: 10.5%;
  }

  #nav-list {
    margin-left: 1vw;
    width: 73vw;
  }

  #page-title {
    margin: 2% 2% 1% 1%;
  }

  #arrow-to-San-Fransisco {
    margin-left: 1%;
  }

  #search-bar {
    width: 62%;
  }

  #hr-button-div {
    margin-top: -4%;
    width: 100%;
  }

  .company-description-header {
    width: 90%;
  }

  #social-media-section {
    background-color: rgb(238, 242, 246);
    display: flex;
    height: 114vh;
    justify-content: start; 
    margin-top: 1.5%;
    width: 33vw;
  }

  #three-social-media-buttons-form {
    margin-top: 5%;
    width: 67%;
  }
}

@media screen and (max-width: 995px) {
  #search-bar {
    width: 57%;
  }

  #totals-stock-btn-form {
    margin: -15% auto 0%;
    width: 100vw;
  }

  #totals-btn {
    width: 35%;
  }

  #stock-performance-btn {
    margin-left: 9%;
    width: 25%;
    z-index: 1;
  }

  #circle-graph-section {
    height: 20vw;
    width: 49vw;
  }

  #bar-graph-image {
    height: 50%;
    margin-left: 0%;
    margin-top: 0%;
    width: 80%;
  }

  .nav-list-li {
    padding-bottom: 3%;
  }

  #totals-btn {
    margin: 2% 10% 6% 10%;
  }

  #hr-button-div {
    display: none;
  }
}

@media screen and (max-width: 815px) {
  #main-menu {
    display: none;
    height: 110vh;
    width: 22%;
  }

  body {
    background-color: rgb(238, 242, 246);
  }

  #nvidia-avatar-article {
    height: 167px;
  }

  #large-right-content-section {
    height: 200vh;
    height: 200vh;
    margin: 0%;
    width: 100%;
  }

  #top-search-input-buttons {
    width: 100vw;
  }

  #header {
    margin-left: 0%;
    width: 100vw;
  }

  #search-bar {
    width: 62%;
  }

  #four-buttons {
    margin-right: 5.5%;
    width: 42%;
  }

  #nav-list {
    width: 97vw;
  }

  .nav-list-li {
    padding-bottom: 3%;
  }

  #circle-graph-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
  }

  #circle-graph-form {
    display: flex;
    justify-content: center;
    margin-left: 0%;
    margin-top: 4%;
  }

  #totals-btn {
    margin: 2% 0% 0% 0%;
    width: 70%;
  }

  #bar-graph {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 45vh;
    justify-content: center;
    margin: 0% 0% 0% 0%;
    width: 100%;
  }

  #bar-graph-image {
    height: 90%;
    margin-left: 0%;
    margin-top: -8%;
    width: 85%;
  }

  #totals-stock-btn-form {
    margin: -8% auto 6%;
    width: 100vw;
  }

  #totals-btn {
    margin: 0% 10% 0% 16%;
    width: 30%;
  }

  #stock-performance-btn {
    margin-left: 0%;
    width: 30%;
  }

  .company-description-header {
    width: 100%;
  }

  #job-description-section {
    height: 83.5vh;
    width: 100vw;
  }

  #job-description-table {
    margin-left: 12%;
    margin-top: 0%;
    width: 80%;
  }

  #social-media-section {
    background-color: rgb(238, 242, 246);
    display: flex;
    height: 114vh;
    justify-content: start;
    margin-top: 22%;
    width: 100vw;
  }

  #three-social-media-buttons-form {
    width: 80%;
  }

  .social-media-buttons {
    color: white;
    font-size: 17px;
    font-weight: 400;
    height: 5%;
    margin-bottom: 11%;
    margin-left: 15%;
    padding-top: 2%;
    text-align: center;
    width: 100%;
  }

  .bottom-links-article {
    margin-left: 16%;
    width: 100%;
  }

  .bottom-links-input {
    width: 78%;
  }
}

@media screen and (max-width: 720px) {
  #social-media-section {
    margin-top: 24vh;
  }
}

@media screen and (max-width: 653px) {
  #social-media-section {
    margin-top: 28vh;
  }
}

@media screen and (max-width: 600px) {
  #social-media-section {
    margin-top: 35vh;
  }
}

@media screen and (max-width: 550px) {
  #social-media-section {
    margin-top: 31vh;
  }
}
@media screen and (max-width: 500px) {
  #social-media-section {
    margin-top: 36vh;
  }
}

@media screen and (max-width: 455px) {
  #social-media-section {
    margin-top: 40vh;
  }
}

@media screen and (max-width: 420px) {
  #main-menu {
    display: none;
  }

  #nvidia-avatar-image {
    height: 12vh;
    width: 12vh
  }

  #nvidia-avatar-article {
    height: 200px;
  }

  #page-exculding-menu {
    height: 130vh;
  }

  hr {
    margin-bottom: 14%;
    margin-top: 21%;
  }

  .main-menu-articles {
    height: 200px;
  }
  
  #header {
    height: 50vh;
    margin-left: 0%;
    width: 100%;
  }

  #top-search-input-buttons {
    width: 100vw;
  }

  #page-title {
    margin-top: 5%;
    text-align: center;
  }

  #location {
    display: block;
    font-size: 12px;
    text-align: center;
  }

  .fa-map-marker {
    visibility: hidden;
  }

  #four-buttons {
    margin-bottom: 5%;
    margin-right: 20.5%;
    margin-top: 4%;
    width: 71%;
  }

  #nav-list {
    display: block;
    margin-left: 12vw;
    margin-top: 12%;
    width: 22vw;
}

  .nav-list-li {
    margin-top: 12%;
  }

  #AI-li {
    position: absolute;
    right: 40%;
    top: 28.5%;
  }

  #data-centers-li {
    position: absolute;
    right: 20%;
    top: 32%;
  }

  #shop-li {
    position: absolute;
    right: 34%;
    top: 36%;
  }

  #totals-btn {
    margin-top: 7%;
    padding: 1% 2% 8% 1%;
    width: 73%;
  }

  #circle-graph-section {
    height: 24vh;
  }

  #circle-graph-form {
    margin-left: 0%;
  }

  #bar-graph {
    height: 34vh;
  }

  #bar-graph-image {
    height: 70%;
    margin-top: -3%;
    width: 84%;
  }

  #totals-stock-btn-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: -13% 5% 6% 13%;
    width: 100vw;
  }

  #totals-btn {
    margin: 3% 10% 0% 6%;
    padding: 2% 2% 3% 1%;
    width: 73%;
  }

  #stock-performance-btn {
    border-radius: 13px;
    padding: 2%;
    width: 74%;
    }

  #job-description-section {
    margin-left: 0%;
    width: 100vw;
  }

  #social-media-section {
    margin-top: 48vh;
    width: 100vw;
  }
}

  @media screen and (max-width: 370px) {
  #social-media-section {
    margin-top: 58vh;
  }
}

@media screen and (max-width: 330px) {
  #social-media-section {
    margin-top: 60vh;
  }
}


















